@use '../../scss/config.scss' as *;

.edit-note-form {
  display: grid;
  grid-template-rows: 4rem auto 2rem;
  gap: 1rem;
  padding: 1rem 0;
  min-height: calc(100vh - #{$headerHeight});

  &__input {
    border: none;
    padding: 1rem;
    outline: none;
    border-radius: 15px;
    width: 100%;
    @include box-shadow();
  }

  &__input--title {
    font-size: 2rem;
    font-weight: 300;
  }

  &__input--text {
    resize: none;
    font-size: 1rem;
  }

  &__btns {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__btn {
    padding: 0.5em 1.5em;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    border-radius: 1000px;
    transition: background-color 300ms;
    @include box-shadow();

    &--submit {
      background: $color1;

      &:hover {
        cursor: pointer;
        background-color: darken($color1, 20);
      }

      &:focus {
        background-color: darken($color1, 20);
      }
    }

    &--cancel {
      background: #666;

      &:hover {
        cursor: pointer;
        background-color: darken($color2, 10);
      }

      &:focus {
        background-color: darken($color2, 20);
      }
    }
  }
}
