.header {
  background: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__heading {
    font-weight: 400;
  }
}
