@use '../../scss/config.scss' as *;

.note-list-item {
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: 300ms;
  @include box-shadow();

  &:hover {
    transform: scale(1.005);
    cursor: pointer;
  }

  &__date {
    font-size: 0.85rem;
  }

  &__btn {
    background: none;
    border: none;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background: #f4f4f4;
    transition: 300ms;

    &:hover {
      cursor: pointer;
      background: #ddd;
    }
  }
}
